* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
header {
	padding: 2rem 1rem;
	/* max-width:400px; */
	width: 100%;
	/* margin: 0 auto; */
}
.content 
{
    max-width:800px;
    margin:0 auto;
    background:white;
    padding: 10px;
}
.animation
{
    background-color:#EDDFDE;
    height: 50px;
    padding:20px;
}
.text
{
    padding:20px 0;
}

.box
{
    border:1.5px solid rgba(#000, .2);
    height:150px;
    width:150px;
    text-align:center;
    box-shadow:5px 5px 7px grey;;
    /* padding:60px 0; */
    margin:10px;
    float: left;
    width: 25%;
    padding: 40px; 
}
.box:hover
{
    background-color: beige;
}

.footer 
{
    display:inline-flex;
}
#wss
{
    font-size:50px;
    font-weight:bolder;
}
#wss
{
    opacity:0;
    -webkit-transition:opacity 1.0s linear 0s;
    transition:opacity 1.0s linear 0s;
}